
<form [formGroup]="formGroup" class="form-group">
  <app-marvin-js-editor
    id="structure"
    formControlName="structure"
  ></app-marvin-js-editor>

  <input type="reset" value="Reset" />
  <input type="submit" value="Accept" />

</form>


<div>
  <span>Value in form group:</span>  <pre>{{ formGroup.value.structure }}</pre>
  <pre>Dirty: {{ formGroup.controls.structure.dirty }}</pre>
  <pre>Pristine: {{ formGroup.controls.structure.pristine }}</pre>
  <pre>Touched: {{ formGroup.controls.structure.touched }}</pre>
</div>
